# Python компільовані файли
__pycache__/
*.pyc

# Збірки PyInstaller та тимчасові файли
build/
dist/
*.spec

# Архіви та резервні копії
*.zip
* – копія*

# Тимчасові креслення (якщо drawing.DXF у колі заважає)
drawing.DXF
